* {
    height: 100%;
    margin: 0px;
}

body {
    background-color: rgba(128, 128, 128, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

header, footer {
    display: flex;
    height: fit-content;
    flex-direction: column;
    justify-content: center;
    text-align:center;
}

header {
    margin-top: 50px;
    margin-bottom: 30px;
}

footer {
    margin-top: 10px;
    margin-bottom: 10px;
}

.calculator {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 700px;
    border:red solid 1px;
}

.display {
    font-size: 24px;
    display: flex;
    justify-content: flex-end;
    flex: 1;
    background-color: rgba(255, 0, 0, .15);
}

.display-text {
}

.main-pad {
    display: flex;
    flex: 3;
}

.numbers {
    display: flex;
    flex-wrap: wrap;
    flex: 3;
}

.operators {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

.numbers button {
    font-size: 24px;
    width: 33.3%;
    height: 25%;
    background-color: rgba(0, 255, 255, .35)
  }

.operators button {
    font-size: 24px;
    width: 100%;
    height: 25%;
    background-color: rgba(0, 255, 0, .15);
}