* {
    padding: 0;
    border: 0;
    margin: 0;
}

body {
    height: 100vh;
    background-color: rgba(128, 128, 128, 0.15);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

h1 {
    font-size: 48px;
    color: rgb(113, 113, 250);
}

.calculator {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc-body {
    width: 500px;
    height: 700px;
    background-color: grey;
    border: 3px solid darkblue;
    border-radius: 5px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.display {
    width: 440px;
    height: 140px;
    background-color: rgba(255, 255, 255, 0.85);
    border: 3px solid darkblue;
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}

.display .value {
    font-size: 48px;
    padding: 10px;
}

.buttons {
    width: 440px;
    height: 440px;
    background-color: darkgray;
    border-radius: 5px;
    flex: 3;
    display: flex;
    flex-flow: column nowrap;
}

.row {
    display: flex;
    flex-flow: row norwap;
    flex: 1;
    margin: 5px;
}

.row button {
    flex: 1;
    font-size: 48px;
    color: white;
    border: 2px solid grey;
    border-radius: 10px;
    margin: 0px 5px;
}

.op {
    background-color: rgba(0, 0, 0, 0.5)
}

.num {
    background-color: rgba(50, 50, 168, 0.5);
}

.equals {
    background-color: rgba(50, 168, 50, 0.5);
}

.clear {
    background-color: rgba(168, 50, 50, 0.5);
}

.footer {
    display: flex;
    background-color: grey;
    justify-content: center;
    align-items: flex-end;
    margin-top: 100px;
    padding: 4px;
}

.footer a {
    font-size: 24px;
}